---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
.page__hero--overlay {
  min-height: 80vh; /* 80% of the viewport height */}
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
