---
---

@import "minimal-mistakes/skins/dirty"; // or your chosen skin
@import "minimal-mistakes";               // load the theme

/* Custom navigation centering */
.masthead__menu {
  justify-content: center !important;
}

.masthead__menu-item {
  text-align: center !important;}
